[Unit]
Description=jimi_web

[Service]
Type=simple
User=jimi
Group=jimi
WorkingDirectory=/opt/jimi/
ExecStart=/usr/bin/python3 /opt/jimi/jimi_web.py

[Install]
WantedBy=multi-user.target
